#.yml -提供给了结构化及其嵌套的格式
#properties sever.port=8081
#server.tomcat.uri-encoding=utf-8
#如果配置文件放在resources文件中，springboot会自动进行读取
server:
  port: 8081

  tomcat:
    uri-encoding: UTF-8
#数据源与jpa配置
spring:
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/a?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT
      username: root
      password: 123456
      #druid配置
      type: com.alibaba.druid.pool.DruidDataSource
      #配置监控统计拦截得filters，如果不写监控页面中得sql无法进行统计。wall用于防火墙
      filters: stat , wall , log4j
      #通过connectionProperties属性来打开mergeSql功能，监测慢sql得记录
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMills=5000

    jpa:
       database: mysql
       show-sql: true  #显示sql语句
       hibernate:
         ddl-auto: update #使用hibernate来自动跟新表结构，如果数据表不存在则自动创建，如果修改了表结构，在程序启动时则执行表结构的同步更新
#redis配置
    redis:
      host: localhost
      port: 6379
#solr的配置
    data:
       solr:
          host: http://localhost:8983/solr